{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} FAQ {% endblock %}

{% block content %}
    <section class="bg-dark" style="height: 100%">
        <div class="container text-white">
            <h3 class="text-center text-white h1 font-weight-lighter" style="padding-top: 120px;">Dane w chmurze</h3>
            <p class="pt-5 pb-5 font-weight-lighter text-center">Twoje zdjęcia będą dostępne w chmurze dopóki ich nie usuniesz. Pamiętaj, że masz do nich dostęp z każdego miejsca na ziemi. Po zalogowaniu się masz pełny dostęp do swoich danych oraz zdjęć.</p>
            <div class="row pt-5" style="padding-bottom: 120px;">

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>1. Zarejestruj się</h4>
                                <span>Najpierw załóż konto w serwisie</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>2. Zaloguj się</h4>
                                <span>Nastepnie zaloguj się podanymi danymi podczas rejestracji</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>3. Dodaj zdjęcie</h4>
                                <span>Dodaj prywatne lub publiczne</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                        <div class="member-info">
                            <div class="member-info-content">
                                <h4>4. Oglądaj zdjęcia</h4>
                                <span>Oglądaj wszystkie publiczne zdjęcia lub swoje prywatne</span>
                            </div>
                        </div>
                    </div>
                </div>


        </div>
    </section>
{% endblock %}
